<mat-card class='content'>
  <h2>Cadastrar Ocorrência</h2>
  <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Número da cota">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Nome do sócio">
      </mat-form-field>
    
      <mat-form-field>
        <textarea matInput placeholder="Descrição"></textarea>
      </mat-form-field>

      <mat-form-field>
          <textarea matInput placeholder="Análise"></textarea>
      </mat-form-field>
    
      <mat-form-field>
        <mat-select placeholder="Estado da decisão">
          <mat-option value="option">Concluído</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Cadastrar</button>
      </div>
  </div>
</mat-card>
