<mat-card>
  <h2 mat-dialog-title>Detalhes da Ocorrência</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content class="container">
    <mat-form-field>
      <input matInput placeholder="Id" value="{{data.id}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Title" value="{{data.title}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Partner Number" value="{{data.partnerNumber}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Partner Name" value="{{data.partnerName}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Incident Date" value="{{data.incidentDate}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Creation Date" value="{{data.creationDate}}">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Description" value="{{data.description}}"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Analysis" value="{{data.analysis}}"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Status">
        <mat-option value="aberto">Aberto</mat-option>
        <mat-option value="fechado">Fechado</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Atualizar</button>
  </mat-dialog-actions>
</mat-card>
