<mat-card>
  <h2 mat-dialog-title>Detalhes da Ocorrência</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content class="container">
    <mat-form-field>
      <input matInput placeholder="Id" [(ngModel)]="data.id" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Título" [(ngModel)]="data.title">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Número da Cota" [(ngModel)]="data.partnerNumber">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nome do Sócio" [(ngModel)]="data.partnerName">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Data da Ocorrência" [(ngModel)]="data.incidentDate">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Data de Criação" [(ngModel)]="data.creationDate">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput matTextareaAutosize matAutosizeMinRows=4 placeholder="Descrição" [(ngModel)]="data.description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput matTextareaAutosize matAutosizeMinRows=4 placeholder="Análise" [(ngModel)]="data.analysis"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Status">
        <mat-option value="aberto">Aberto</mat-option>
        <mat-option value="fechado">Fechado</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Atualizar</button>
  </mat-dialog-actions>
</mat-card>
