.content {
    margin-left: 10px;
    margin-right: 10px;
}

.incidentTable {
    width: 100%;
}

.mat-column-details {
    height: 48px;
    width: 48px;
    text-align: center;
}

.mat-row:hover {
    background-color: whitesmoke;
    cursor: pointer;
}