<mat-card class="content">
  <mat-toolbar>
    <span>Lista de Ocorrências</span>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource" class="incidentTable">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>
  
      <ng-container matColumnDef="partnerNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número da Cota </th>
        <td mat-cell *matCellDef="let row"> {{row.partnerNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="partnerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Sócio </th>
        <td mat-cell *matCellDef="let row"> {{row.partnerName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="incidentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data da Ocorrência </th>
        <td mat-cell *matCellDef="let row"> {{row.incidentDate}} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Criação </th>
        <td mat-cell *matCellDef="let row"> {{row.creationDate}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>
